<% i = 0 %>
<% words.each do |word| %>
<div class="step" step-no="<%= i %>" word-id="<%= word.id %>" lv="<%= word.learning_level.level %>" lv-up-chance="<%= word.lv_up_chance == 'true' ? true : false %>">
    <p class="spelling">
        <%= word.spelling %>
    </p>
    <div class="blind">
        <p class="close">
            ?
        </p>
    </div>
    <div class="description">
        <p class="close">
            <%= word.description %>
        </p>
    </div>
</div>
<% i += 1 %>
<% end %>
<% j = 0 %>
<div class="step learning-result" step-no="<%= i %>">
    <div id="result-table-title">
        Result
    </div>
    <table id="result-table">
        <tbody>
            <% words.each do |word| %>
                <tr class="result-row" step-no="<%= j %>">
                    <td class="spelling-cell">
                        <%= word.spelling %>
                    </td>
                    <td class="status-cell">
                        <span class="status-icon web-icon-fontello">
                        </span>
                        <span class="status-lv">
                        </span>
                    </td>
                </tr>
                <% j += 1 %>
            <% end %>
        </tbody>
    </table>
</div>
