<% if @priority_level.errors.any? %>
	<div id="error_explanation">
		<h2><%= @priority_level.errors.count %>個のエラーが発生しています。</h2>

		<ul>
			<% @priority_level.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>

<%= form_for(@priority_level) do |f| %>
<div class="field">
    <%= f.label :label %>
    <br/>
    <%= f.text_field :label %>
    <br/>
    <%= f.label :priority_level %>
    <br/>
    <%= f.text_field :priority_level %>
</div>
<br />
<div class="actions">
    <%= f.submit %>
</div>
<br />
<%= link_to "一覧に戻る", priority_levels_path%>
<% end %>