<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= @user.errors.count %>個のエラーが発生しています。</h2>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
    <% end %>
    <%= form_for(@user) do |f| %>
    <div class="field">
        <%= f.label :username %>
        <br/>
        <%= f.text_field :username %>
        <br/>
        <%= f.label :password %>
        <br/>
        <%= f.password_field :password %>
        <br/>
        <%= f.label :email %>
        <br/>
        <%= f.text_field :email %>
        <br/>
        <label>
            <%= f.check_box :dm, { :class => "chk" }, "yes", "no" %>メール配信を希望する
        </label>
		<br/>
    </div>
    <br/>
    <div class="actions">
        <%= f.submit %>
    </div>
    <br/>
    <%= link_to "一覧に戻る", words_path %>
    <% end %>