<%= form_for(@word, :remote => true, :html => {:class => 'form-horizontal'}) do |f| %>
<div class='create-control-group'>
    <label class='create-control-label'>
        word
    </label>
    <div class='create-controls'>
        <%= f.text_field :spelling, { :maxlength => 25 } %>
    </div>
</div>
<div class='create-control-group'>
    <label class='create-control-label'>
        description
    </label>
    <div class='create-controls'>
        <%= f.text_area :description, { :rows => 5, :maxlength => 256 } %>
    </div>
    <div class='create-controls'>
        <input type='button' value='wikipediaより取得' id='wikibtn' class='btn btn-small'/><input type='button' value='さらに取得' id='rewikibtn' class='btn btn-small' />
        <div id="status">
        </div>
    </div>
    <label class='create-control-label'>
        priority
    </label>
    <div class='create-controls'>
        <%= f.collection_select(:priority_level_id, @priority_levels, :id, :label) %>
    </div>
</div>
<div class='create-control-group'>
    <div class='create-controls'>
        <%= f.submit '登録', :class => 'btn' %>
    </div>
</div>
<% end %>
