<%= form_for(@word, :remote => true) do |f| %>
    <div id="create-dialog">
        <div id="create-form-title">
            ワードの登録
        </div>
        <div id="form-input">
            <table>
                <colgroup>
                    <col class="form-label-col">
                </colgroup>
                <colgroup>
                    <col class="form-input-col">
                </colgroup>
                <tbody>
                    <tr>
                        <td id="spelling-form-label" class="form-label">
                            ワード
                        </td>
                        <td id="spelling-form-input" class="form-input">
                            <%= f.text_field :spelling, { :onkeypress => "return blockEnter(event)" } %>
                        </td>
                    </tr>
                    <tr>
                        <td id="description-form-label" class="form-label">
                            説明
                        </td>
                        <td id="description-form-input" class="form-input">
                            <%= f.text_area :description, { :rows => 5 } %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div id="wikipedia-btn-area">
                                <span class="web-icon-fontello">p</span>
                                <input type='button' value='Wikipedia' id='wikibtn'>
                                <input type='button' value='more' id='rewikibtn'>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="tag-form-hidden">
            <input type="hidden" name="tags_label" value="">
        </div>
        <div id="tag-form-area">
            <!-- tag-li template start -->
            <script id="tmpl-of-tag-li" type="text/x-jquery-tmpl">
                <li class="tag-li">
                    <div class="tag-item">
                        <span class="tag-label">${label}</span>
                        <a class="tag-del-btn" href="javascript: void(0)">×</a>
                    </div>
                </li>
            </script>
            <!-- tag-li template end -->
            <table>
                <colgroup>
                    <col class="form-label-col">
                </colgroup>
                <colgroup>
                    <col class="tags-col">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="form-label">
                            タグ
                        </td>
                        <td>
                            <div id="tag-list-for-form">
                                <ul>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                <% @word.tags.each do |f| %>
                                    addTagToForm("<%= f.label %>");
                                <% end %>
                            </script>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="form-input">
                                <div id="tag-container">
                                    <div id="tag-history-btn">
                                        <span class="web-icon-fontello">o</span>
                                        <span>タグ履歴</span>
                                    </div>
                                    <div id="tag-drop-area">
                                        <ul class="tag-content">
                                            <% @tags.each do |tag| %>
                                                <li class="tag-li">
                                                <a href="javascript:void(0)" class="tag-label"><%= tag.label %></a>
                                                </li>
                                            <% end %>
                                        </ul>
                                        <div class="tag-page-navi">
                                        </div>
                                    </div>
                                </div>
                                <div id="tag-add-form">
                                    <input type="text" id="tag-text-box" class="empty" value="input & press enter" default-value="input & press enter" onkeypress="return blockEnter(event)" maxlength="15">
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div id="form-msg-area">
        </div>
        <div id="form-controls">
            <%= f.submit 'post', :class => 'btn' %>
        </div>
        <div id='form-sending-img'>
        </div>
    </div>
<% end %>
