<div class="word-card clearfix" word-id="<%= word_card.id %>" level="<%= word_card.learning_level.level %>">
    <div class="word-content">
        <div class="spelling">
            <%= word_card.spelling %>
        </div>
        <div class="level-status">
            <span class="level-label">
                習得Lv.<%= word_card.learning_level.level %>
            </span>
            <div class="lvProgressBar"></div>
            <div class="level-control">
                <input type="button" value="b" class="level-up-btn good web-icon-fontello">
                <input type="button" value="a" class="level-down-btn bad web-icon-fontello">
            </div>
        </div>
        <% description = word_card.description %>
        <div class="description<%= description.blank? || description == "NULL" ? " blank" : "" %>">
            <% if description.blank? || description == "NULL" %>
                <%= "(blank)" %>
            <% else %>
                <%= description %>
            <% end %>
        </div>
    </div>
    <div class="word-card-footer">
        <div class="tag-icon">
            <span class="web-icon-fontello">1</span>
        </div>
        <div class="word-card-tags-holder">
            <ul>
                <% word_card.tags.each do |t| %>
                    <li class="tag-li">
                    <%= t.label %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="word-card-control-holder">
            <a class="word-card-control edit-btn" href="javascript: void(0)">
                <span class="web-icon-fontello">7</span>
                <span>Edit</span>
            </a>
            <a class="word-card-control word-del-btn" href="javascript: void(0)">
                <span class="web-icon-fontello">6</span>
                <span>Delete</span>
            </a>
        </div>
    </div>
</div>
