<div id="container">
    <div id='primary-contents'>
        <script type="text/javascript">
        </script>
        <div id="list">
            <div id="list-header">
                <span class="web-icon-fontello">r</span>
            </div>
            <div id='new-words'>
            </div>
            <div id="pages" class="full-close">
                <div class="list-page" page='1'>
                    <%= render :partial=>'word_card', :collection => @words %>
                </div>
            </div>
            <div id="list-footer">
                <div id='loading-img'>
                </div>
                <div id="try-loading-button">
                    <div id="try-loading-text">read more</div>
                    <div id="try-loading-icon" class="web-icon-fontello">h</div>
                </div>
            </div>
        </div>
        <!--modal window start-->
        <div id="form">
        </div>
        <!--modal window end-->
    </div>
    <div id='secondary-contents'>
        <%= render :partial => 'tag_list', :locals => {:tags => @tags, :all_words_count => @all_words_count} %>
        <%= render :partial => 'social' %>
        <%= render :partial => 'banner' %>
        <%= render :partial => 'about' %>
    </div>
</div>
